<footer class="bg-dark rounded-top">
  <div class="row justify-content-md-center" style="color: whitesmoke;">
    <div class="col col-xs-8">
      <img class="img-fluid rounded mx-auto d-block" alt="pokeball1" src={{iPokeball1}} />
    </div>
    <div class="col align-self-center container-fluid" style="display: inline-flex;">
        <div class="col-xs-4 align-self-center">
          <div class="container-fluid">
            <button class="btn btn-outline-primary my-2 my-sm-0">{{msgBtn1}}</button>
          </div>
        </div>
        <div class="col col-md-auto">
          <div class="container-fluid"></div>
          <p> &copy; {{autor.name}} </p>
        </div>
        <div class="col-xs-2 align-self-center">
          <div class="container-fluid">
            <button class="btn btn-outline-primary my-2 my-sm-0">{{msgBtn2}}</button>
          </div>
        </div>
    </div>
    <div class="col col-xs-8">
      <img class="img-fluid rounded mx-auto d-block" alt="iPokeball2" src={{iPokeball2}} />
    </div>
  </div>
</footer>