<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        <h2>Pokédex</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-stripped table-dark">
            <tbody>
                <tr *ngFor="let row of pokemonList">
                    <td *ngFor="let pokemon of row">
                        <button class="btn btn-link">
                            <img class="img-fluid rounded mx-auto d-block" alt={{pokemon.name}}
                                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" />
                            <p>{{pokemon.name}}</p>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row container-fluid">
            <div class="col col-xs-4">
            </div>
            <div class="col col-md-auto align-self-center">
                <app-paginator *ngIf="paginator" [data]=paginator></app-paginator>
            </div>
            <div class="col col-xs-4">
            </div>
        </div>

    </div>
</div>